{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="profile-card">
            <h1>{{ profile.prenom }} {{ profile.nom }}</h1>
            <div class="report_search">
                <a href="{{ path('app_report', {'id': profile.utilisateur.id, 'from': 'profil'}) }}">
                    <img src="{{ asset('images/report.png') }}" alt="Bouton report profil">
                </a>
            </div>
            <h2 class="profile-header">{{ profile.age }} ans, {{ profile.genre }}</h2>  {# Genre BOEING 747 renvoie la lettre A ? Les autres renvoient une lettre aussi ? #}
            <p class="profile-location">📍 {{ profile.ville }}</p>   {# Vide pour l'instant #}

            <div class="profile-bio">
                <p>{{ profile.presentation ?? 'Aucune présentation pour le moment.' }}</p> {# À compléter quand on aura une section présentation dans le profil #}
            </div>
        </div>
    </div>
{% endblock %}
