{# Page de recherche filtrée de profils #}

{% extends 'base.html.twig' %}

{% block title %}Recherche de profils{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app_design.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}"
{% endblock %}

{% block body %}
    <div class="app-body-reset">
        <div id="date-app-container">
            <aside class="sidebar">
                {# Ajout du header à gauche de la page de recherche #}
                {{ include('partials/_header_app.html.twig') }}
            </aside>

            <main class="main-content">

                <h1>Recherche de profils</h1>

                <form method="get">

                    {# Filtre par pseudo #}
                    <input type="text" name="pseudo" placeholder="Pseudo">

                    {# Filtre de genre #}
                    <select name="genre">
                        <option value="">Tous</option>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                        <option value="Non-binaire">Autre</option>
                    </select>

                    {# Filtres âge minimum et maximum #}
                    <label>Age min</label>
                    <input type="number" name="age_min" min="18" max="113">

                    <label>Age max</label>

                    <input type="number" name="age_max" min="18" max="113">
                    <button type="submit">🔍</button> {# La loupe est le bouton pour lancer la recherche #}

                </form>

                <hr>

                {# Affichage des profils sous forme de tuiles (en ligne) #}
                <div class="profiles-list">

                    {# Affichage de chaque profil en colonne sous le format : pseudo âge (ex: jeff6 34 ans #}
                    {% for profile in profiles %}

                        <div class="profile-lile">
                            <a
                                hx-get="{{ path('app_profile_show', {id: profile.id}) }}"
                                hx-target="#profile-overlay"
                                hx-swap="innerHTML"
                                hx-trigger="click"
                                href="#"
                                data-turbo="false"
                                class="profile-line">

                                {{ profile.utilisateur.pseudo }} {{ profile.age }} ans
                            </a>
                        </div>

                    {% else %}

                        <p>Aucun profil trouvé</p>

                    {% endfor %}

                </div>
            </main>
        </div>
    </div>

{% endblock %}
