{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app_design.css') }}">
{% endblock %}

{% block body %}
<div class="app-body-reset">
    <div id="date-app-container">

        <aside class="sidebar">
            {{ include('partials/_header_app.html.twig') }}
        </aside>

        <main class="main-content">
            <div class="profile-card">
                {% if profil is defined and profil is not null %}

                    <img class="profile-img"
                         src="{{ profil.utilisateur.imageIdentite ? asset('images/' ~ profil.utilisateur.imageIdentite) : asset('images/PlaceHolderProfil.jpg') }}"
                         alt="Profil de {{ profil.prenom | default("l'utilisateur") }}">

                    <div class="report">
                        <a href="{{ path('app_report', {'id': profil.utilisateur.id, 'from': 'home'}) }}">
                            <img src="{{ asset('images/report.png') }}" alt="Bouton report profil">
                        </a>
                    </div>

                    <div class="profile-info-overlay">
                        <h2 class="profile-name">{{ profil.utilisateur.pseudo }}, {{ profil.age }} ans</h2>
                        <p class="profile-location">📍 {{ profil.ville }}</p>
                        <p class="profile-bio">{{ profil.presentation|slice(0, 80) ~ '...' }}</p>
                    </div>

                    <div class="actions-overlay">
                        <a href="{{ path('app_swipe', {'id': profil.utilisateur.id, 'action': 'dislike'}) }}" class="action-btn">
                            <img class="bg" src="{{ asset('images/Red.jpg') }}" alt="Red">
                            <img class="icon" src="{{ asset('images/Denied.jpg') }}" alt="Croix pour refuser">
                        </a>

                        <a href="{{ path('app_swipe', {'id': profil.utilisateur.id, 'action': 'like'}) }}" class="action-btn">
                            <img class="bg" src="{{ asset('images/green.webp') }}" alt="Green">
                            <img class="icon" src="{{ asset('images/valid.webp') }}" alt="Cœur pour valider">
                        </a>
                    </div>

                {% else %}
                    <div class="no-profile-msg">
                        <h2>Plus personne à découvrir !</h2>
                    </div>
                {% endif %}
            </div>
        </main>

    </div>
</div>
{% endblock %}
