{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# {{ parent() }} Pour eviter que le css pète tout #}

    <link rel="stylesheet" href="{{ asset('css/app_design.css') }}">
{% endblock %}

{% block body %}
<div class="app-body-reset">
    <div id="date-app-container">
        <aside class="sidebar">
            <h1 style="color: #ed3692; margin-bottom: 30px; font-family: sans-serif;">Tindr</h1>
            {{ include('partials/_header_app.html.twig') }}
        </aside>

        <main class="main-content">
            <div class="profile-card">
                <img class="profile-img" src="{{ asset('images/PlaceHolderProfil.jpg') }}" alt="Profil">
            </div>

            <div class="actions-overlay">
                {# Refuser #}
                <button class="action-btn">
                    <img class="bg" src="{{ asset('images/Red.jpg') }}" alt="Red">
                    <img class="icon" src="{{ asset('images/Denied.jpg') }}" alt="X">
                </button>

                {# Valider #}
                <button class="action-btn">
                    <img class="bg" src="{{ asset('images/green.webp') }}" alt="Green">
                    <img class="icon" src="{{ asset('images/valid.webp') }}" alt="Check">
                </button>
            </div>
        </main>
    </div>
</div>
{% endblock %}